#btDiv {
    flex-direction: column;
    height: 50%;
}

.h2, .sectionDiv, .section_img, .img, #btDiv2{
    border: none;
}

.sectionDiv, .section_img, #btDiv2 {
    width: 100%;
}

.section_img {
    justify-content: space-around;
    margin: 60px;
}